include LICENSE
recursive-include djangocms_terminal/locale *
recursive-include djangocms_terminal/migrations *
recursive-include djangocms_terminal/templates *
recursive-include djangocms_terminal/static *
recursive-exclude * *.pyc